/*Global styles*/
body {
	background-color: var(--cream);
	font-family: var(--body-font);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
}

.button a {
	width: 100%;
	color: var(--white);
	background-color: var(--cyan-light);
	padding: 20px 0px;
	border-radius: 20px;
}

.button:hover a {
	cursor: pointer;
	background-color: var(--cyan-dark);
}

.container {
	margin: 0 auto;
}

.fourEighty {
	position: relative;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.pad {
	padding-left: 15px;
	padding-right: 15px;
}

/*Font styles*/
h1 {
	font-family: var(--heading-font);
	font-weight: 700;
	color: var(--blue-dark);
}

h2 {
	color: var(--blue-med);
	text-transform: uppercase;
}

.c-current-price {
	color: var(--cyan-light);
	font-size: 32px;
}

.c-discounted-price {
	color: var(--blue-med);
	text-decoration: line-through;
}

.product-preview p {
	font-size: 14px;
	color: var(--blue-med);
}


/*Product preview*/
.product-preview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-preview__holder {
	display: flex;
	border-radius: 20px;
	background-color: var(--white);
}

.product-preview__image {
	flex: 0 1 50%;
	background-image: url("img/image-product-desktop.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.product-preview__content {
	flex: 0 1 50%;
	padding: 20px;
}

.product-content__prices {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;	
}


/*Styling attribution*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
