/*Global styles*/
body {
	background-color: var(--cream);
	font-family: var(--body-font);
}

.page-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 95vh;
}

.container {
	margin: 0 auto;
}

.pad {
	padding-right: 15px;
	padding-left: 15px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 25px 0px;
}

.button a {
	width: 100%;
	color: var(--white);
	font-weight: 500;
	background-color: var(--cyan-light);
	padding: 15px 0px;
	border-radius: 10px;
}

.button:hover a {
	cursor: pointer;
	background-color: var(--cyan-dark);
}

.sixHundred {
	position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


/*Font styles*/
h1 {
	font-family: var(--heading-font);
	font-weight: 700;
	font-size: 32px;
	line-height: 1;
	color: var(--blue-dark);
	padding: 20px 0px;
}

h2 {
	color: var(--blue-med);
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 14px;
}

.c-current-price {
	color: var(--cyan-light);
	font-family: var(--heading-font);
	font-weight: 700;
	font-size: 32px;
	padding-right: 25px;
}

.c-discounted-price {
	color: var(--blue-med);
	text-decoration: line-through;
}

.product-preview p {
	font-size: 14px;
	color: var(--blue-med);
	line-height: 1.7;
}


/*Product preview*/
.product-preview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-preview__holder {
	display: flex;
	border-radius: 10px;
	background-color: var(--white);
}

.product-preview__image {
	flex: 0 1 50%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-image: url("img/image-product-desktop.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.product-preview__content {
	flex: 0 1 50%;
	padding: 25px;
}

.product-content__prices {
	display: flex;
	align-items: center;
	padding-top: 20px;	
}


/*Styling attribution*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/*Media Queries*/
@media screen and (max-width: 645px) {
	.product-preview__holder {
		flex-direction: column;
		max-width: 345px;
	}

	.product-preview__image {
		padding-top: 70%;
		background-image: url("img/image-product-mobile.jpg");
		border-bottom-left-radius: 0px;
		border-top-right-radius: 10px;
	}
}